# Secrets for Supabase Edge Functions - set via `supabase secrets set --env-file supabase/.env`
# Do NOT commit the real .env file

MYPVIT_ACCOUNT_AIRTEL=ACC_69E0129D41AEF
MYPVIT_ACCOUNT_MOOV=ACC_69E012C052C9A
MYPVIT_ACCOUNT_TEST=ACC_69C69B5449F96
MYPVIT_PASSWORD=758243151217
MYPVIT_AGENT=MR_1774623572

MYPVIT_CALLBACK_CODE=8LRT4
MYPVIT_RECEPTION_CODE=GEFEH

MYPVIT_RENEW_SECRET_CODE=WM587M5V6KQ3YNCH
MYPVIT_REST_CODE=0UEXVLW6Q77SR820
MYPVIT_STATUS_CODE=JQZF4V1X1HI8LE84
MYPVIT_KYC_CODE=4P4QUAKM8AKYYE1L

MYPVIT_WEBHOOK_TOKEN=954ae94834389c621f823ea68a271a4477a30427874eba93bd5e87c2d4b5a2bc
